header {
    width: auto;
    height: auto;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav li {
    font-family: 'CALIFI', Arial, sans-serif;
    font-size: 12px;
}

.bold-paragraf {
    font-family: 'CALIFB', Arial, sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.slim-paragraf{
    font-family: 'CALIFI', Arial, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.scroll-down {
    position: absolute;
    top: 80%;
    left: 47%;
   
}

@font-face {
    font-family: 'CALIFB';
    src: url('font/CALIFB.TTF');
}

@font-face {
    font-family: 'CALIFI';
    src: url('font/CALIFI.TTF');
}