header {
    position: relative;
    width: auto;
    height: auto;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav li {
    font-family: 'CALIFI', Arial, sans-serif;
    font-size: 12px;
}

.text-container .first-text {
    font-family: 'CALIFB', Arial, sans-serif;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-container .second-text {
    font-family: 'CALIFI', Arial, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bold-paragraf {
    font-family: 'CALIFB', Arial, sans-serif;
    font-size: 35px;
}

.slim-paragraf {
    font-family: 'CALIFI', Arial, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-paragraf {
    font-family: 'GOTHANBI', Arial, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
}

.description-paragraf {
    color: grey;
    font-family: 'GOTHAMLIGHT', Arial, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
}

.scroll-down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-underline {
    text-decoration: none;
}

.photo-indentation {
    margin-top: -10%;
    margin-bottom: -15%;
}

.text-indentation {
    margin: 5%;
    margin-top: 15%;

    h2 {
        font-family: 'CALIFB', Arial, sans-serif;
        font-size: 35px;
    }

    p {
        font-family: 'GOTHAMLIGHT';
        font-size: 15px;
        
    }
}

.row {
    margin-bottom: 10%;
    #last-row{
        margin-bottom: -3%;
        }
    
}
.last-row{
    margin-bottom: -3%;
    }

@font-face {
    font-family: 'CALIFB';
    src: url('font/CALIFB.TTF');
}

@font-face {
    font-family: 'CALIFI';
    src: url('font/CALIFI.TTF');
}

@font-face {
    font-family: 'GOTHANBI';
    src: url('font/GOTHANBI.TTF');
}

@font-face {
    font-family: 'GOTHAMLIGHT';
    src: url('font/Gotham-Light.otf');
}